{
    "parser": "babel-eslint",
    "plugins": ["react", "jsx-a11y", "import", "prettier"],
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": ["error"]
    }
}
